body{
    background: #313131;
}
svg{
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

svg rect{
    fill: none;
    stroke: #fafafa;
    stroke-width:10px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: 8s outline 1 forwards;
}
svg line{
    stroke:#fafafa;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: 3.5s line 1 forwards;
}
svg path{
    fill:#fafafa;
    opacity: 0;
    animation: 2s fade 1 forwards;
    animation-delay: 3s;
}
@keyframes outline{
    from{
        stroke-dashoffset: 2000;
    }
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes line{
    from{
        stroke-dashoffset: 400;
    }
    to{
        stroke-dashoffset: -275;
    }
}
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


