body{
    background: #0D4656;
}
svg{
    margin: auto;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
svg path{
    fill: #6fc5d9;
}
svg line{
    stroke: #6fc5d9;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
    animation: 300ms move-lines infinite forwards;
}
@keyframes move-lines{
    from{
        stroke-dashoffset: 30;
    }
    to{
        stroke-dashoffset: -30;
    }
}

